<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="css/allCourses.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechHack Technologies</title>
</head>

<body>
  <div class="container">
    <nav>
      <div class="nav__one">
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
          xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
          xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="svg2" xml:space="preserve"
          width="400.66669" height="400.66669" viewBox="0 0 666.66669 666.66669" sodipodi:docname="Logo.ai">
          <metadata id="metadata8">
            <rdf:RDF>
              <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <defs id="defs6">
            <linearGradient x1="0" y1="2" x2="1" y2="0" gradientUnits="userSpaceOnUse"
              gradientTransform="matrix(0,-198.08092,-198.08092,0,250,385.65677)" spreadMethod="pad"
              id="linearGradient40">
              <stop style="stop-opacity:1;stop-color:#ffffff" offset="0" id="stop34" />
              <stop style="stop-opacity:1;stop-color:#ffffff" offset="0.997724" id="stop36" />
              <stop style="stop-opacity:1;stop-color:#ffffff" offset="1" id="stop38" />
            </linearGradient>
          </defs>
          <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10"
            gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2"
            inkscape:window-width="640" inkscape:window-height="480" id="namedview4" />
          <g id="g10" inkscape:groupmode="layer" inkscape:label="Logo"
            transform="matrix(1.3333333,0,0,-1.3333333,0,666.66667)">
            <path d="m 0.001,0 h 000 v 000 h -500 z" style="fill:#1b1c32;fill-opacity:0;fill-rule:nonzero;stroke:none"
              id="path12" /><text transform="matrix(1,0,0,-1,145.1455,128.0439)"
              style="font-variant:normal;font-weight:800;font-stretch:normal;font-size:50px;font-family:'Lato';-inkscape-font-specification:MontDemo-Heavy;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16">
              <tspan x="0" y="0" sodipodi:role="line" id="tspan14">TechHack</tspan>
            </text><text transform="matrix(1,0,0,-1,180.3633,90.9502)"
              style="font-variant:normal;font-weight:600;font-stretch:normal;font-size:25px;font-family:'Lato';-inkscape-font-specification:Montserrat-SemiBold;writing-mode:lr-tb;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text20">
              <tspan x="0" y="0" sodipodi:role="line" id="tspan18">Technologies</tspan>
            </text>
            <g id="g22">
              <g id="g24">
                <g id="g30">
                  <g id="g32">
                    <path
                      d="m 237.586,374.232 c 0,-1.543 0.991,-2.843 2.367,-3.33 v 0 -24.315 c 0,-0.65 0.528,-1.179 1.18,-1.179 v 0 h 79.473 c 14.519,0 26.332,-11.812 26.332,-26.332 v 0 c 0,-14.52 -11.813,-26.333 -26.332,-26.333 v 0 h -35.841 c -0.652,0 -1.18,-0.527 -1.18,-1.179 v 0 -10.377 c -1.376,-0.488 -2.366,-1.787 -2.366,-3.33 v 0 c 0,-1.959 1.587,-3.547 3.546,-3.547 v 0 c 1.958,0 3.547,1.588 3.547,3.547 v 0 c 0,1.543 -0.992,2.842 -2.368,3.33 v 0 9.198 h 34.662 c 15.82,0 28.69,12.871 28.69,28.691 v 0 c 0,15.819 -12.87,28.69 -28.69,28.69 v 0 h -78.294 v 23.136 c 1.376,0.487 2.367,1.788 2.367,3.33 v 0 c 0,1.959 -1.588,3.547 -3.547,3.547 v 0 c -1.958,0 -3.546,-1.588 -3.546,-3.547 m 10.488,-5.203 c 0,-1.544 0.992,-2.844 2.368,-3.332 v 0 -11.856 c 0,-0.65 0.527,-1.179 1.18,-1.179 v 0 h 68.984 c 18.519,0 33.586,-15.066 33.586,-33.586 v 0 c 0,-18.52 -15.067,-33.587 -33.586,-33.587 v 0 h -21.682 c -0.487,1.376 -1.786,2.368 -3.33,2.368 v 0 c -1.958,0 -3.547,-1.588 -3.547,-3.547 v 0 c 0,-1.958 1.589,-3.547 3.547,-3.547 v 0 c 1.544,0 2.843,0.992 3.33,2.368 v 0 h 21.682 c 19.819,0 35.944,16.125 35.944,35.945 v 0 c 0,19.82 -16.125,35.944 -35.944,35.944 v 0 H 252.8 v 10.678 c 1.376,0.488 2.368,1.787 2.368,3.331 v 0 c 0,1.958 -1.589,3.547 -3.547,3.547 v 0 c -1.958,0 -3.547,-1.589 -3.547,-3.547 m -23.2,-14.009 h -45.48 c -19.82,0 -35.944,-16.124 -35.944,-35.944 v 0 c 0,-19.82 16.124,-35.945 35.944,-35.945 v 0 h 9.573 c 0.487,-1.376 1.787,-2.368 3.33,-2.368 v 0 c 1.958,0 3.547,1.589 3.547,3.547 v 0 c 0,1.959 -1.589,3.547 -3.547,3.547 v 0 c -1.543,0 -2.843,-0.992 -3.33,-2.368 v 0 h -9.573 c -18.519,0 -33.586,15.067 -33.586,33.587 v 0 c 0,18.52 15.067,33.586 33.586,33.586 v 0 h 45.48 c 0.488,-1.376 1.787,-2.368 3.33,-2.368 v 0 c 1.958,0 3.547,1.589 3.547,3.547 v 0 c 0,1.959 -1.589,3.547 -3.547,3.547 v 0 c -1.543,0 -2.842,-0.992 -3.33,-2.368 m -45.48,-8.433 c 0,-1.958 1.589,-3.547 3.547,-3.547 v 0 c 1.544,0 2.842,0.992 3.331,2.368 v 0 h 42.291 v -6.075 c 0,-0.65 0.528,-1.179 1.18,-1.179 v 0 h 90.863 c 10.519,0 19.078,-8.558 19.078,-19.078 v 0 c 0,-10.52 -8.559,-19.078 -19.078,-19.078 v 0 h -50.349 c -0.651,0 -1.18,-0.528 -1.18,-1.179 v 0 -80.842 c 0,-10.519 -8.557,-19.078 -19.077,-19.078 v 0 c -10.52,0 -19.078,8.559 -19.078,19.078 v 0 73.587 c 0,0.652 -0.528,1.179 -1.179,1.179 v 0 h -19.281 c -0.487,1.376 -1.787,2.369 -3.331,2.369 v 0 c -1.959,0 -3.546,-1.589 -3.546,-3.547 v 0 c 0,-1.958 1.587,-3.547 3.546,-3.547 v 0 c 1.543,0 2.843,0.991 3.33,2.367 v 0 h 18.102 v -72.408 c 0,-11.82 9.617,-21.436 21.437,-21.436 v 0 c 11.82,0 21.437,9.616 21.437,21.436 v 0 79.662 h 49.169 c 11.82,0 21.436,9.616 21.436,21.437 v 0 c 0,11.82 -9.616,21.437 -21.436,21.437 v 0 h -89.684 v 6.074 c 0,0.652 -0.528,1.179 -1.179,1.179 v 0 h -43.471 c -0.488,1.376 -1.787,2.368 -3.331,2.368 v 0 c -1.958,0 -3.547,-1.588 -3.547,-3.547 m 18.114,-6.074 h -18.114 c -11.819,0 -21.436,-9.617 -21.436,-21.437 v 0 c 0,-11.821 9.617,-21.437 21.436,-21.437 v 0 h 43.095 c 0.651,0 1.179,0.528 1.179,1.18 v 0 30.631 c 0,0.652 -0.528,1.179 -1.179,1.179 v 0 h -42.105 c -6.014,0 -10.906,-4.891 -10.906,-10.905 v 0 -3.015 c -1.375,-0.488 -2.368,-1.787 -2.368,-3.331 v 0 c 0,-1.958 1.589,-3.547 3.547,-3.547 v 0 c 1.958,0 3.548,1.589 3.548,3.547 v 0 c 0,1.544 -0.993,2.843 -2.368,3.331 v 0 3.015 c 0,4.713 3.834,8.547 8.547,8.547 v 0 h 40.926 v -28.273 h -41.916 c -10.519,0 -19.078,8.558 -19.078,19.078 v 0 c 0,10.52 8.559,19.078 19.078,19.078 v 0 h 18.114 c 0.487,-1.376 1.787,-2.368 3.33,-2.368 v 0 c 1.958,0 3.547,1.589 3.547,3.547 v 0 c 0,1.96 -1.589,3.547 -3.547,3.547 v 0 c -1.543,0 -2.843,-0.992 -3.33,-2.367 m 109.434,-9.884 h -77.199 c -0.652,0 -1.18,-0.527 -1.18,-1.179 v 0 -30.631 c 0,-0.652 0.528,-1.18 1.18,-1.18 v 0 h 7.499 v -71.145 c -1.376,-0.489 -2.368,-1.788 -2.368,-3.331 v 0 c 0,-1.958 1.588,-3.547 3.547,-3.547 v 0 c 1.958,0 3.547,1.589 3.547,3.547 v 0 c 0,1.543 -0.992,2.842 -2.368,3.331 v 0 72.325 c 0,0.651 -0.527,1.179 -1.179,1.179 v 0 h -7.499 v 28.273 h 76.02 c 0.488,-1.376 1.788,-2.367 3.33,-2.367 v 0 c 1.959,0 3.548,1.588 3.548,3.547 v 0 c 0,1.959 -1.589,3.546 -3.548,3.546 v 0 c -1.543,0 -2.843,-0.991 -3.33,-2.368 m -12.605,-9.11 h -54.488 c -0.652,0 -1.18,-0.529 -1.18,-1.179 v 0 -12.832 c 0,-0.652 0.528,-1.18 1.18,-1.18 v 0 h 82.362 c 4.187,0 7.595,3.407 7.595,7.596 v 0 c 0,1.356 -0.372,2.668 -1.036,3.811 v 0 c 0.099,0.194 0.185,0.395 0.248,0.612 v 0 c 0.551,1.879 -0.527,3.85 -2.407,4.4 v 0 c -1.88,0.55 -3.85,-0.528 -4.4,-2.407 v 0 c -0.55,-1.88 0.528,-3.851 2.406,-4.401 v 0 c 0.81,-0.237 1.629,-0.157 2.351,0.143 v 0 c 0.306,-0.67 0.48,-1.403 0.48,-2.158 v 0 c 0,-2.889 -2.35,-5.238 -5.237,-5.238 v 0 h -81.183 v 10.475 h 53.309 c 0.487,-1.376 1.786,-2.368 3.33,-2.368 v 0 c 1.958,0 3.547,1.587 3.547,3.547 v 0 c 0,1.958 -1.589,3.547 -3.547,3.547 v 0 c -1.544,0 -2.843,-0.993 -3.33,-2.368 m -112.497,0 c -0.651,0 -1.179,-0.529 -1.179,-1.179 v 0 -12.832 c 0,-0.652 0.528,-1.18 1.179,-1.18 v 0 h 32.358 c 0.651,0 1.179,0.528 1.179,1.18 v 0 12.832 c 0,0.65 -0.528,1.179 -1.179,1.179 v 0 z m 1.18,-2.358 h 29.999 V 308.687 H 183.02 Z m -31.137,-0.085 c -1.954,-0.14 -3.423,-1.838 -3.284,-3.792 v 0 c 0.121,-1.684 1.402,-3.004 3.005,-3.247 v 0 c 3.172,-12.558 14.531,-21.652 27.79,-21.652 v 0 h 19.376 v -21.722 c -1.376,-0.487 -2.367,-1.787 -2.367,-3.33 v 0 c 0,-1.96 1.588,-3.547 3.547,-3.547 v 0 c 1.959,0 3.546,1.587 3.546,3.547 v 0 c 0,1.543 -0.991,2.843 -2.367,3.33 v 0 22.901 c 0,0.652 -0.528,1.179 -1.179,1.179 v 0 h -20.556 c -12.124,0 -22.517,8.286 -25.472,19.745 v 0 c 1.127,0.662 1.853,1.913 1.753,3.304 v 0 c -0.134,1.868 -1.692,3.293 -3.535,3.293 v 0 c -0.085,0 -0.171,-0.003 -0.257,-0.009 m 94.491,-19.078 c -0.652,0 -1.18,-0.528 -1.18,-1.179 v 0 -83.691 c 0,-4.188 3.407,-7.596 7.594,-7.596 v 0 c 1.358,0 2.67,0.372 3.813,1.036 v 0 c 0.193,-0.098 0.396,-0.185 0.612,-0.248 v 0 c 1.879,-0.55 3.85,0.529 4.4,2.407 v 0 c 0.55,1.88 -0.528,3.851 -2.408,4.401 v 0 c -1.879,0.551 -3.85,-0.528 -4.4,-2.408 v 0 c -0.237,-0.81 -0.158,-1.629 0.142,-2.35 v 0 c -0.669,-0.306 -1.402,-0.48 -2.159,-0.48 v 0 c -2.886,0 -5.235,2.35 -5.235,5.238 v 0 82.511 h 10.473 v -65.531 c -1.376,-0.488 -2.368,-1.787 -2.368,-3.33 v 0 c 0,-1.959 1.589,-3.547 3.547,-3.547 v 0 c 1.959,0 3.547,1.588 3.547,3.547 v 0 c 0,1.542 -0.992,2.841 -2.368,3.33 v 0 66.711 c 0,0.651 -0.527,1.179 -1.179,1.179 v 0 z m -34.687,-19.235 c 0,-1.543 0.992,-2.842 2.368,-3.33 v 0 V 237.7 H 204.9 c -0.488,1.376 -1.787,2.367 -3.33,2.367 v 0 c -1.958,0 -3.547,-1.588 -3.547,-3.547 v 0 c 0,-1.958 1.589,-3.547 3.547,-3.547 v 0 c 1.543,0 2.843,0.993 3.331,2.369 v 0 h 10.333 c 0.652,0 1.18,0.526 1.18,1.179 v 0 40.912 c 1.376,0.488 2.367,1.787 2.367,3.33 v 0 c 0,1.959 -1.588,3.547 -3.547,3.547 v 0 c -1.958,0 -3.547,-1.588 -3.547,-3.547 m 7.254,-13.552 c 0,-1.543 0.993,-2.842 2.369,-3.33 v 0 -37.505 h -21.168 c -0.488,1.375 -1.787,2.368 -3.331,2.368 v 0 c -1.958,0 -3.547,-1.588 -3.547,-3.547 v 0 c 0,-1.959 1.589,-3.547 3.547,-3.547 v 0 c 1.544,0 2.843,0.991 3.331,2.367 v 0 h 22.347 c 0.651,0 1.179,0.528 1.179,1.179 v 0 38.685 c 1.375,0.488 2.367,1.787 2.367,3.33 v 0 c 0,1.958 -1.588,3.547 -3.547,3.547 v 0 c -1.958,0 -3.547,-1.589 -3.547,-3.547 m 77.508,0.831 h -18.938 c -0.652,0 -1.18,-0.527 -1.18,-1.179 v 0 -48.886 c 0,-12.124 -8.283,-22.517 -19.744,-25.473 v 0 c -0.66,1.127 -1.911,1.853 -3.304,1.753 v 0 c -1.953,-0.14 -3.423,-1.839 -3.283,-3.792 v 0 c 0.141,-1.954 1.839,-3.423 3.792,-3.284 v 0 c 1.684,0.122 3.003,1.402 3.247,3.005 v 0 c 12.559,3.172 21.651,14.532 21.651,27.791 v 0 47.707 h 17.759 c 0.487,-1.376 1.787,-2.367 3.33,-2.367 v 0 c 1.959,0 3.547,1.587 3.547,3.546 v 0 c 0,1.959 -1.588,3.547 -3.547,3.547 v 0 c -1.543,0 -2.842,-0.991 -3.33,-2.368 m -15.23,-11.526 c 0,-1.543 0.99,-2.843 2.366,-3.331 v 0 -35.208 C 283.585,199.458 268.52,184.39 250,184.39 v 0 c -16.225,0 -29.819,11.355 -32.923,26.923 v 0 c 1.175,0.627 1.951,1.884 1.879,3.301 v 0 c -0.099,1.956 -1.765,3.462 -3.722,3.363 v 0 c -1.956,-0.1 -3.461,-1.766 -3.362,-3.722 v 0 c 0.083,-1.662 1.304,-2.989 2.868,-3.292 v 0 c 3.277,-16.722 17.855,-28.931 35.26,-28.931 v 0 c 19.82,0 35.944,16.125 35.944,35.945 v 0 35.208 c 1.376,0.488 2.368,1.788 2.368,3.331 v 0 c 0,1.959 -1.589,3.547 -3.547,3.547 v 0 c -1.959,0 -3.546,-1.588 -3.546,-3.547"
                      style="fill:url(#linearGradient40);stroke:none" id="path42" />
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <span> | </span>
        <img src="./assets/course.png" alt="" class="course__logo">
        <h1>ALL COURSES</h1>
      </div>
      <div class="nav__two">
        <img src="./assets/home.png" alt="" class="home__logo">
        <h2>A</h2>
      </div>
    </nav>
    <% courses.forEach(course => { %>
    <div class="main__container">
      <div class="course__holder">
        <div class="top__holder">
          <img src="./assets/ruler.png" alt="">
          <div>
            <h3><%= course.heading %></h3>
            <p><%= course.shortinfo %></p>
          </div>
        </div>
        <div class="bottom_holder">
          <% var link = "/payment-page/" + course.courseId %>
          <a href=<%=link%>>Buy Now <img src="./assets/next.png" alt=""></a>
        </div>
      </div>
    </div>
    <% }) %> 
  </div>
</body>

</html>