<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fg_password.css">
    <title>TechHack Technologies</title>
</head>
<body>
    <div class="container">
        <div class="main__container">
            <h1>
                Forgot Password
            </h1>
            <form action="/forgot-password" method="post">
                <div class="form__group field">
                    <input type="email" class="form__field" placeholder="Email" name="username" id='email' required autocomplete="off"/>
                    <label for="email" class="form__label">Email</label>
                </div>
                <button type="submit" class="inp-btn">Reset Password</button>
                <h2 class="forgot_password">or <a href="/login" style="text-decoration: none; color: #fff;"><span>Login</span></a></h2>
                <%if(message){ %> <p style="color:blanchedalmond;"><%=message%></p> <%}%>
            </form>
        </div>
    </div>
</body>
</html>