<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/lms.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechHack Technologies</title>
</head>
<body>  
    <div class="container">
        <nav>
            <div class="nav__one">
                <img src="./assets/THTlogo.png" alt="" class="logo">
                <span> | </span>
                <img src="./assets/course.png" alt="" class="course__logo">
                <h1>MY COURSES</h1>
            </div>
            <div class="nav__two">
                <img src="./assets/home.png" alt="" class="home__logo">
                <h2>A</h2>
            </div>
        </nav>
        <div class="main__container">
            <div class="course__holder">
                <div class="top__holder">
                    <img src="./assets/ruler.png" alt="">
                    <div>
                        <h3>COURSE NAME?</h3>
                        <p>Tag Line</p>
                    </div>
                </div>
                <div class="bottom_holder">
                    <a href="/lmsPage">Continue <img src="./assets/next.png" alt=""></a>
                </div>  
            </div>
        </div>
    </div>
</body>
</html>