<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/lms_page_two.css">
    <title>TechHack Technologies</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav__one">
                <img src="./assets/THTlogo.png" alt="" class="logo">
                <span> | </span>
                <img src="./assets/courses.png" alt="" class="course__logo">
                <h1>COURSE NAME</h1>
            </div>
            <div class="nav__two">
                <img src="./assets/home.png" alt="" class="home__logo">
                <h2>A</h2>
            </div>
        </nav>
        <div class="main__content">
            <div class="video__content">
                <div class="video__container">
                    <video src="" controls></video>
                </div>
                <div class="description__container">

                </div>
            </div>
            <div class="contents__container">
                <div>
                    <h1>TABLE OF CONTENTS</h1>
                    <div class="selected__container" id="selected__container">
                        <!-- <div class="dropdown__menu_head">
                            <div class="module_check">
                                <img src="./assets/check (1).png" alt="" class="check_mark_icon">
                                <h2>Module 1</h2>
                            </div>
                            <div>
                                <img src="./assets/down-arrow (2).png" alt="" class="drop__down_icon">
                            </div>
                        </div>
                        <div class="dropdown__content">
                            <div class="dropdown__lectures_content">
                            <h3>Lecture 1</h3>
                            <p>2 Mins 55 Secs</p>
                            </div>
                            <div class="dropdown__lectures_content">
                                <h3>Lecture 1</h3>
                                <p>2 Mins 55 Secs</p>
                                </div>
                                <div class="dropdown__lectures_content">
                                    <h3>Lecture 1</h3>
                                    <p>2 Mins 55 Secs</p>
                                    </div>
                        </div> 
                    -->
                    <div>
                            <div class="modules_showcase moduleOne" id="module_showcase_1">
                                    <div class="modules_content">
                                        <img src="./assets/play (1).png" alt="">
                                        <h1>Module 1</h1>
                                    </div>
                                    <div class="drop_up_modules">
                                    <img src="./assets/down-arrow (1).png" alt="">
                                    </div>
                                </div>
                                <div class="module_selected moduleOne" id="module_selected_1">
                                    <div class="module_check">
                                        <img src="./assets/check (1).png" alt="" class="check_mark_icon">
                                        <h2>Module 1</h2>
                                    </div>
                                    <div>
                                        <img src="./assets/down-arrow (2).png" alt="" class="drop__down_icon">
                                    </div>
                                </div>
                                <div class="dropdown__content moduleOne" id="dropdown__content_1">
                                    <div class="dropdown__lectures_content">
                                        <h3>Lecture 1</h3>
                                        <p>2 Mins 55 Secs</p>
                                    </div>
                                    <div class="dropdown__lectures_content">
                                        <h3>Lecture 1</h3>
                                        <p>2 Mins 55 Secs</p>
                                        </div>
                                    <div class="dropdown__lectures_content">
                                        <h3>Lecture 1</h3>
                                        <p>2 Mins 55 Secs</p>
                                    </div>
                                </div>   
                        </div>
                        <div class="modules_showcase moduleTwo" id="module_showcase_2">
                            <div class="modules_content">
                                <img src="./assets/play (1).png" alt="">
                                <h1>Module 2</h1>
                            </div>
                            <div class="drop_up_modules">
                            <img src="./assets/down-arrow (1).png" alt="">
                            </div>
                        </div>
                        <div class="module_selected moduleTwo" id="module_selected_2">
                            <div class="module_check">
                                <img src="./assets/check (1).png" alt="" class="check_mark_icon">
                                <h2>Module 2</h2>
                            </div>
                            <div>
                                <img src="./assets/down-arrow (2).png" alt="" class="drop__down_icon">
                            </div>
                        </div>
                        <div class="dropdown__content moduleTwo" id="dropdown__content_2">
                            <div class="dropdown__lectures_content">
                                <h3>Lecture 1</h3>
                                <p>2 Mins 55 Secs</p>
                            </div>
                            <div class="dropdown__lectures_content">
                                <h3>Lecture 1</h3>
                                <p>2 Mins 55 Secs</p>
                                </div>
                            <div class="dropdown__lectures_content">
                                <h3>Lecture 1</h3>
                                <p>2 Mins 55 Secs</p>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="bottom_container">
                    <img src="./assets/settings.png" alt="">
                    <img src="./assets/exit.png" alt="">
                </div>

                    <!-- <div class="all__modules__normal" id="all__modules__normal">
                        <div class="modules_showcase" id="module_showcase_1">
                            <div class="modules_content">
                                <img src="./assets/play (1).png" alt="">
                                <h1>Module 1</h1>
                            </div>
                            <div class="drop_up_modules">
                            <img src="./assets/down-arrow (1).png" alt="">
                            </div>
                        </div>  
                        <div class="modules_showcase" id="module_showcase_2">
                            <div class="modules_content">
                                <img src="./assets/play (1).png" alt="">
                                <h1>Module 2</h1>
                            </div>
                            <div class="drop_up_modules">
                            <img src="./assets/down-arrow (1).png" alt="">
                            </div>
                        </div>
                        <div class="modules_showcase" id="module_showcase_3">
                            <div class="modules_content">
                                <img src="./assets/play (1).png" alt="">
                                <h1>Module 3</h1>
                            </div>
                            <div class="drop_up_modules">
                            <img src="./assets/down-arrow (1).png" alt="">
                            </div>
                        </div>
                        <div class="modules_showcase" id="module_showcase_4">
                            <div class="modules_content">
                                <img src="./assets/play (1).png" alt="">
                                <h1>Module 4</h1>
                            </div>
                            <div class="drop_up_modules">
                            <img src="./assets/down-arrow (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom_container">
                    <img src="./assets/settings.png" alt="">
                    <img src="./assets/exit.png" alt="">
                </div> -->
            </div>
        </div>
    </div>
    <script src="lms.js"></script>
</body>
</html>